//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:				'Ultima Pro'; 
$mainFontSize:		18px;
$mainFontHeight:	32px;
$mainFontWeight:	400;
$mainFontColor:		#090913;

$secondFont:				'Verdana'; 
$secondFontSize:		14px;
$secondFontHeight:	22px;
$secondFontWeign:		400;
$secondFontColor:		#525252;

$fixFont:					Verdana; 
$fixFontSize:			14px;
$fixFontHeight:		24px;

$font: 'Arial';

// Variables => Colors
//----------------------------------------------------//
$default: #00000a;

$main: red;

$black: #000;
$white: #fff;

$green: #3caa35;
$green2: #3aaa35;

$gray: #e8e8e8;
$gray2: #aeaeae;

$yellow: #fcc018;

$blue: #08b3ff;

$red: #d22264;

