.projects {
	padding: 0 0 160px 0;
	overflow: hidden;
	position: relative;
	@include b(desktop-lg) {
		padding: 0 0 90px 0;
	}
	@include b(mobile) {
		padding: 0 0 60px 0;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		bottom: 0;
		left: calc(50% + 585px);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
		@include b(desktop) {
			left: calc(50% + 400px);
		}
		@include b(mobile) {
			display: none;
		}
	}
	&__left {
		float: left;
		width: 41%;
		padding: 0 15px 0 0;
		
		@include b(desktop) {
			width: 50%;
		}
		@include b(mobile) {
			width: auto;
			float: none;
			padding: 0;
		}
	}
	&__right {
		float: right;
		width: 59%;
		padding: 0 0 0 15px;
		@include b(desktop) {
			width: 50%;
		}
		@include b(mobile) {
			width: auto;
			float: none;
			padding: 0;
			margin: 0 -20px;
		}
	}
	&__sliders-controls {
		.slick {
			&-arrow {
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 1px solid $green2;
				font-size: 0;
				line-height: 0;
				text-align: center;
				cursor: pointer;
				[class*="icon-"] {
					fill: $green2;
					vertical-align: middle;
					
				}
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				&.slick-disabled {
					opacity: .5;
					cursor: default;
				}
				&:hover {
					opacity: .8;
				}
			}
			&-prev {
				float: left;
			}
			&-next {
				float: right;
			}
			&-dots {
				position: static;
				font-size: 0;
				line-height: 0;
				text-align: center;
				padding: 20px 60px;
				li {
					padding: 0 0 0 5px;
					&:first-child {
						padding: 0;
					}
					margin: 0;
					button {
						font-size: 0;
						line-height: 0;
						padding: 0;
						width: 10px;
						height: 10px;
						border: 3px solid rgba($yellow, .5);
						border-radius: 50%;
						background: $white;
					}
					&.slick-active {
						button {
							border-color: $green2;
							background: $green2;
						}
					}
				}
			}
		}
	}
	&__descr-slider {
		margin: 0 -30px;
		@include b(mobile) {
			margin: 0 -20px;
		}
		&-item {
			padding: 54px 30px 30px;
			@include b(desktop) {
				padding: 0 30px 33px;
			}
			@include b(mobile) {
				padding: 0 20px 30px;
				.btn {
					display: block;
					
				}
			}
		}
		&-title {
			display: block;
			font-size: 28px;
			line-height: 42px;
			font-weight: 700;
			padding: 0 0 32px 0;
			@include b(desktop-lg) {
				font-size: 26px;
				line-height: 30px;
				padding: 0 0 24px 0;
			}
			@include b(mobile) {
				font-size: 18px;
				line-height: 24px;
				padding: 0 0 10px 0;
			}
		}
		&-info {
			display: block;
			font-size: 18px;
			line-height: 28px;
			color: rgba($default, .7);
			margin: 0 0 43px 0;
			height: 112px;
			overflow: hidden;
			@include b(desktop-lg) {
				font-size: 16px;
				line-height: 26px;
				height: 104px;
				color: rgba($default, .5);
				margin: 0 0 36px 0;
			}
			@include b(mobile) {
				font-size: 14px;
				line-height: 21px;
				height: auto;
			}
		}
	}
	&__sliders-controls {
		@include b(desktop-lg) {
			max-width: 370px;
		}
	}
	&__pic-slider {
		margin: 0 -2000px 0 0;
		position: relative;
		@include b(mobile) {
			margin: 0;
			padding: 0 0 45px 0;
			.slick {
				&-arrow {
					display: block;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					font-size: 0;
					line-height: 0;
					text-align: center;
					cursor: pointer;
					position: absolute;
					top: 50%;
					background: rgba($black, .6);
					margin: -65px 0 0 0;
					z-index: 2;
					[class*="icon-"] {
						fill: $white;
						position: absolute;
						top: 50%;
						left: 50%;
						margin: -4px 0 0 -9px;
					}
					
				}
				&-prev {
					left: 20px;
				}
				&-next {
					right: 20px;
				}
				&-dots {
					position: absolute;
					font-size: 0;
					line-height: 0;
					text-align: center;
					padding: 17px 60px 18px;
					bottom: 0;
					left: 0;
					width: 100%;
					top: auto;
					right: auto;
					li {
						padding: 0 0 0 5px;
						&:first-child {
							padding: 0;
						}
						margin: 0;
						button {
							font-size: 0;
							line-height: 0;
							padding: 0;
							width: 10px;
							height: 10px;
							border: 3px solid rgba($yellow, .5);
							border-radius: 50%;
							background: $white;
						}
						&.slick-active {
							button {
								border-color: $green2;
								background: $green2;
							}
						}
					}
				}
			}
		}
		&-item {
			padding: 0 30px 0 0;
			
			img {
				max-width: 100%;
			}
			@include b(desktop) {
				height: 320px;
				img {
					height: 100%;
				}
			}
			@include b(mobile) {
				height: 320px;
				padding: 0;
				overflow: hidden;
				img {
					max-width: none;
					height: 100%;
					position: relative;
					left: 50%;
					transform: translate(-50%, 0);
				}
			}
		}
	}
}

.projects-list {
	&__item {
		padding: 0 0 130px 0;
		@include b(desktop-lg) {
			padding: 0 0 100px 0;
		}
		@include b(mobile) {
			padding: 0 0 60px 0;
		}
		&:nth-child(even) {
			@media(min-width: 600px) {
				.project-block {
					&__img {
						float: left;
					}
					&__descr {
						float: right;
					}
				}
			}
				
		}
	}
}

.project-block {
	@include clearfix;
	margin: 0 -15px;
	@include b(mobile) {
		margin: 0 -20px;
	}
	&__img {
		float: right;
		padding: 0 15px;
		width: 57.2%;
		
		img {
			display: block;
			width: 100%;
		}
		@include b(599) {
			float: none;
			width: auto;
			padding: 0 0 15px; 
		}
	}
	&__descr {
		float: left;
		width: 42.8%;
		padding: 0 15px;;
		font-size: 0;
		line-height: 0;
		.projects__descr-slider-title {
			@include b(desktop-lg) {
				font-size: 22px;
				line-height: 33px;
				padding: 0 0 8px 0;
			}
			@include b(599) {
				font-size: 18px;
				line-height: 27px;
				padding: 0 0 12px 0;
			}
		}
		.projects__descr-slider-info {
			height: auto;
		}
		@include b(599) {
			float: none;
			width: auto;
			padding: 0 20px;
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		&-caption {
			display: inline-block;
			vertical-align: middle;
		}
	}
}